@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-main-gradient {
    @apply bg-gradient-to-br from-primary to-secondary;
  }
}

html,
body {
  font-family: 'Raleway', sans-serif;
  @apply min-h-screen bg-primary text-zinc-200;
}

/* Layout */
#__next {
  display: contents;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  @apply p-4;
}

a {
  @apply text-blue-400 underline;
}
